@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 min-h-screen;
  }

  a {
    @apply text-blue-700;
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 1;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      z-index: -1;
      border-radius: 8px;
      height: 100%;
      width: 100%;
      box-sizing: content-box;
      top: -0.25em;
      left: -0.25em;
      padding: 0.25em;
      opacity: 0;
      transition: opacity 0.2s;
      @apply bg-blue-100;
    }

    &:not(.no-hover-effect) {
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }

    &:hover {
      @apply text-blue-800;
      text-decoration: none;
    }
  }

  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }

  ul,
  ol {
    @apply my-6 pl-3 ml-3;

    > ul {
      @apply pl-3 ml-3;
    }
  }

  h1,
  h2,
  h3 {
    @apply mt-6;
    @apply mb-3;
    border: none;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p {
    @apply my-4;
  }
}
